POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN_SECONDS=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN_SECONDS=

STRIPE_SECRET_KEY=
SUCCESS_URL=
CANCEL_URL=